#canvasAnim {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    user-select: none;
    min-width: 700px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.calculator{
    display: none;
    position: relative;
    width: 360px;
    font-family: Arial;
    box-shadow: 0 0 12px gray;
	border-radius: 12px;
}

.screen {
	border-radius: 12px 12px 0 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid;
}

.summary {
    padding: 6px 6px 0 6px;
    height: 16px;
	font-size: 16px;
	color: grey;
}

.total {
	padding: 6px 12px 0 12px;
	font-size: 32px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 12px 12px;
    align-items: flex-start;
}

button{
    display: block;
    font-size: 20px;
	width: 90px;
	height: 70px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.numbers{
    width: 270px;
    display: flex;
    flex-wrap: wrap;
}

.numbers button{
    background: rgba(200, 200, 200, 0.5);
}

.operators{
    width: 90px;
}

.operators button, .dopOperators button, .trigon button{
    width: 90px;
    background: rgb(255, 100, 100);
}

.clear{
    width: 190px;
}

.sc{
    width: 20px;
}

.dop{
    width: 40px;
    font-weight: bold;
    font-size: 12px;
}

.dopOperators, .trigon{
    display: none;
}

.null{
    width: 180px;
    border-radius: 0 0 0 12px;
}

.numbers button:hover{
    background: rgba(200, 200, 200, 0.8);
}

.operators button:hover, .dopOperators button:hover, .trgion button:hover{
    width: 100%;
    background: rgb(255, 70, 70);
}

